#App {
    font-family: sans-serif;
  
    /* Give app full page to work with */
    height: 100vh;
  }
  
  #page-wrap {
    text-align: center;
  
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: flex !important;
  
    /* Our sidebar item styling */
    text-align: left;
    text-decoration: none;
    margin-bottom: 10px;
    color: #4d4d4d;
    transition: color 0.2s, border-left 280ms linear;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    font-family: "Racing Sans One", Segoe UI,sans-serif;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    align-items: center;
    text-transform: uppercase;
  }

  .bm-item svg {
    height: 25px;
    width: 25px;
    margin-right: 17px;
    fill: #4d4d4d;
  }

  .bm-item::before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: -1.9rem;
    z-index: -1;
    bottom: 0;
    transform: skew(-19deg, 0deg);
  }

  .bm-item:focus {
    outline: unset;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: #4d4d4d;
  }

  .bm-item.active {
    color: #fff;
  }

  .bm-item.active svg {
    fill: #fff;
  }
  
  .bm-item.active::before {
    background-color: rgba(0,0,0,0.2);
    background-color: #DE0E1C;
  }

  .bm-item.active:hover::before {
    background-color: #DE0E1C;
  }

  .bm-item:hover::before {
    background-color: rgba(0,0,0,0.08);
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    display: none;
  }

  .bm-menu-wrap {
    top: 0;
  }

  @media screen and (max-width: 719px) {
    .bm-burger-button {
        display: initial;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    visibility: hidden;
  }

  @media screen and (max-width: 357px) {
    .bm-burger-bars {
        background: #fff;
    }
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #000;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #fff;
    padding: 4em 0 0;
    font-size: 1.15em;
    pointer-events: all;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #ff2b3c;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #fff;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
  }

  .contact {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #4d4d4d;
    transition: color 0.2s;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: left;
    text-indent: 10px;
    font-family: Segoe UI,sans-serif;
    position: absolute;
    bottom: 0;
    background-color: transparent;;
    width: 100%;
    margin: unset;
    transition: all 310ms linear;
    border-top: 1px solid #c3c3c3;
  }
  .contact:hover {
    background-color: rgba(0,0,0,0.23);
  }
  .contact::before {
    display: none;
  }