#App {
    font-family: sans-serif;
  
    /* Give app full page to work with */
    height: 100vh;
  }
  
  #page-wrap {
    text-align: center;
  
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }

  .bm-item:focus {
    outline: unset;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }

  .bm-item.active {
      color: #fff;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    display: none;
  }

  .bm-menu-wrap {
    top: 0;
  }

  @media screen and (max-width: 719px) {
    .bm-burger-button {
        display: initial;
    }
  }

  @media screen and (max-width: 425px) {
    .bm-burger-button {
        width: 33px;
        height: 27px;
        right: 18px;
        top: 18px;
    }
  }
  @media screen and (max-width: 405px) {
    .bm-burger-button {
        width: 28px;
        height: 22px;
        right: 15px;
    }
  }
  @media screen and (max-width: 385px) {
    .bm-burger-button {
        width: 24px;
        height: 22px;
        right: 13px;
    }
  }
  @media screen and (max-width: 365px) {
    .bm-burger-button {
        right: 9px;
    }
  }
  @media screen and (max-width: 330px) {
    .bm-burger-button {
        width: 22px;
        height: 22px;
    }
  }
  @media screen and (max-width: 313px) {
    .bm-burger-button {
        width: 20px;
        height: 20px;
        right: 6.5px;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    visibility: hidden;
  }

  @media screen and (max-width: 357px) {
    .bm-burger-bars {
        background: #fff;
    }
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #fff;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #ff2b3c;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #ff2b3c;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #fff;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
  }